<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/87fc2e36-0f9b-424d-b5f3-fdc82fbe452a/resourcegroups/elxtraining/providers/Microsoft.Web/sites/Elxdotnetcorewebapp1208</ResourceId>
    <ResourceGroup>elxtraining</ResourceGroup>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://elxdotnetcorewebapp1208.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <SCMUrl>https://elxdotnetcorewebapp1208.scm.azurewebsites.net/</SCMUrl>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <ProjectGuid>f2865b2f-1a68-4371-8d7f-a946aa1558d6</ProjectGuid>
    <MSDeployServiceURL>waws-prod-dm1-113.publish.azurewebsites.windows.net:443</MSDeployServiceURL>
    <DeployIisAppPath>Elxdotnetcorewebapp1208</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$Elxdotnetcorewebapp1208</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
  </PropertyGroup>
</Project>